
ProjetGSB/obj/ProjetGSB.csproj.nuget.g.targets
ProjetGSB/obj/ProjetGSB.csproj.nuget.g.props
ProjetGSB/obj/ProjetGSB.csproj.nuget.dgspec.json
ProjetGSB/obj/project.nuget.cache
ProjetGSB/obj/project.assets.json
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.pdb
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.genruntimeconfig.cache
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.exe
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.dll
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.csprojAssemblyReference.cache
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.csproj.FileListAbsolute.txt
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.csproj.CoreCompileInputs.cache
ProjetGSB/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.AssemblyInfo.cs
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.AssemblyInfoInputs.cache
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.assets.cache
ProjetGSB/obj/Debug/netcoreapp3.1/ProjetGSB.csproj.CopyComplete
ProjetGSB/bin/Debug/netcoreapp3.1/BouncyCastle.Crypto.dll
ProjetGSB/bin/Debug/netcoreapp3.1/Google.Protobuf.dll
ProjetGSB/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.dll
ProjetGSB/bin/Debug/netcoreapp3.1/K4os.Compression.LZ4.Streams.dll
ProjetGSB/bin/Debug/netcoreapp3.1/K4os.Hash.xxHash.dll
ProjetGSB/bin/Debug/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
ProjetGSB/bin/Debug/netcoreapp3.1/MySql.Data.dll
ProjetGSB/bin/Debug/netcoreapp3.1/ProjetGSB.deps.json
ProjetGSB/bin/Debug/netcoreapp3.1/ProjetGSB.dll
ProjetGSB/bin/Debug/netcoreapp3.1/ProjetGSB.exe
ProjetGSB/bin/Debug/netcoreapp3.1/ProjetGSB.pdb
ProjetGSB/bin/Debug/netcoreapp3.1/ProjetGSB.runtimeconfig.dev.json
ProjetGSB/bin/Debug/netcoreapp3.1/ProjetGSB.runtimeconfig.json
ProjetGSB/bin/Debug/netcoreapp3.1/Renci.SshNet.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp3.0/System.Windows.Extensions.dll
ProjetGSB/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ProjetGSB/bin/Debug/netcoreapp3.1/SshNet.Security.Cryptography.dll
ProjetGSB/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ProjetGSB/bin/Debug/netcoreapp3.1/System.Data.SqlClient.dll
ProjetGSB/bin/Debug/netcoreapp3.1/System.Drawing.Common.dll
ProjetGSB/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ProjetGSB/bin/Debug/netcoreapp3.1/System.Security.Permissions.dll
ProjetGSB/bin/Debug/netcoreapp3.1/System.Windows.Extensions.dll
ProjetGSB/bin/Debug/netcoreapp3.1/Ubiety.Dns.Core.dll
ProjetGSB/bin/Debug/netcoreapp3.1/Zstandard.Net.dll
ProjetGSB/.vs/ProjetGSB/DesignTimeBuild/.dtbcache.v2
ProjetGSB/.vs/ProjetGSB/v16/.suo
ProjetGSB/.vs/ProjetGSB/v16/TestStore/0/000.testlog
ProjetGSB/.vs/ProjetGSB/v16/TestStore/0/testlog.manifest
